.footer__input {
	display: block;
	@include corner(6px);
	width: 100%;
	padding: 10px;
	border: 1px solid transparent;
	@include transition(0.3s);
	&:focus {
		@include shadow(0 0 0 0.25rem rgba($color: $leading-color--accent, $alpha: 0.30));
		border-color: $leading-color--accent;
	}
}

.footer__legal {
	margin-bottom: 20px;
	@include lg {
		@include position(absolute, 0, 0, 0, 0, 270px, 21px);
		margin: auto;
	}
}