/////////////////////////////
// collapse
//accordion simple
.accordion {
    position: relative;
}
.accordion_header {
    position: relative;
    min-height: 25px;
    padding-right: 30px;
}
.accordion_header:before {
    content: "";
    @include position(absolute, 0, null, null, 0, 25px, 25px);
    @include background(cover, center center, no-repeat);
    background-image: url('../images/chevron_bottom-success.svg');
    @include transition(0.5s);
}
.accordion_body {
    overflow: hidden;
    max-height: 0;
    @include transition(0.5s);
    display: flex;
    flex-direction: column;
    width: 100%;
}
.accordion_content {
    margin: 10px 0;
    overflow: auto;
    height: 100%;
}
// active
.accordion.active {
    .accordion_header:before {
        @include transform(rotate(-180deg));
    }
    .accordion_body {
        @include transition(1.5s);
        max-height: 100rem;
    }
}