.footer{
	background-color: #003970;
	color: $light-color;
	padding-bottom: 50px;
	&__input{
		display: block;
		border-radius: 8px;
		width: 100%;
		padding: 10px;
		outline: 5px solid transparent;
		&:focus{
			outline-color: rgba($color: #80EEC2, $alpha: 0.7);
		}
	}
	&__textarea{
		overflow-y: auto;
		height: 100px;
		min-height: 100px;
		max-height: 100px;
	}
	&__label{
		display: block;
		margin-bottom: 5px;
		margin-top: 15px;
	}

	&__headline{
		font-size: 25px;
	}

	&__content{
		display: grid;
		align-items: start;
		grid-gap: 80px;
		
		@include xl{
			grid-template-columns: 1fr 1fr;
		}
	}
	&__list{
		padding: 0;
		margin: 0;
	}

	&__legal{
		margin-bottom: 15px;
		@include lg{
			margin-bottom: 0;
		}
	}
	&__submit{
		padding: 5px 45px;
		border: 3px solid #80EEC2;
		color: #80EEC2;
		border-radius: 5px;
		outline: 5px solid transparent;
		margin-top: 15px;

		&:hover{
			border-color: #F5F5F5;
			background-color: #F5F5F5;
			color: #003970;
		}
	}

	&__links{
		display: grid;
		grid-column-gap: 15px;
		grid-row-gap: 50px;
		@include md{	
			grid-template-columns: 1fr 1fr;
		}
	}

	&__social{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		align-items: center;
		justify-items: center;
		grid-gap: 10px;

		@include lg{
			grid-gap: 20px;
		}
		@include xl{
			grid-gap: 30px;
		}
	}

	&__icon-social{
		&:hover path{
			fill: #80EEC2;
		}
	}
}