.radio{
    overflow: hidden;
    &__text-label{
        grid-row: 1;
        grid-column: 2;
    }
    &__label{
        display: inline-grid;
        grid-template-columns: auto auto;
        cursor: pointer;
        grid-gap: 10px;
        align-items: center;
    
        &::before{
            grid-column: 1;
            grid-row: 1;
            border-radius: 50%;
            content: "";
            width: 30px;
            height: 30px;
            display: block;
            border: 1px solid #000;
        }

        &::after{
            content: "";
            width: 20px;
            height: 20px;
            background-color: transparent;
            border-radius: 50%;
            grid-column: 1;
            grid-row: 1;
            justify-self: center;
        }
    }
    &__widget:checked + &__label::after{
        background-color: #80EEC2;
    }
    &__widget:checked + &__label::before{
        border-color: #80EEC2;
    }
    &__widget{
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: -1;
        height: 0;
        width: 0;
    }
}

.radio-grp{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    &_center{
        justify-content: center;
    }
    &_gap-large{
        grid-gap: 30px;
    }
}


.checkbox-custom{
    &__text-label{
        grid-row: 1;
        grid-column: 2;
    }
    &__label{
        display: inline-grid;
        grid-template-columns: auto auto;
        cursor: pointer;
        grid-gap: 15px;
    
        &::before{
            grid-column: 1;
            grid-row: 1;
            content: "";
            width: 30px;
            height: 30px;
            display: block;
            border: 1px solid #003970;
            border-radius: 5px;
        }

        &::after{
            content: "";
            width: 30px;
            height: 30px;
            background-color: transparent;
            grid-column: 1;
            grid-row: 1;
            background-image: url("../images/agree.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px;
            justify-self: center;
            border-radius: 5px;
        }
    }
    &__widget:checked + &__label::after{
        background-color: #003970;
    }
    &__widget{
        position: absolute;
        opacity: 0; 
    }

    &__title{
        font-size: 19px;
        font-weight: bold;
        font-family: "Sora", sans-serif;
        display: block;
    }
}